body {
    background-color: #eeeeee;
}

.container {
    max-width: 600px;
}

.password-container {
    height: 2em;
    width: 100%;
    margin: 15px 0;
}

.password {
    display: inline-block;
    width: 100%;

    overflow-wrap: break-word
}

.password-active {
    color: #bd4147;
    font-size: 1.5em;
}

.password-idle {
    color: #f8a9ad;
    font-size: 1em;
}

/* Override Bootstrap button outline for mobile */
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}