body {
    background-color: black;
}

.app {
    padding: 30px 15px 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
}

.container {
    max-width: 600px;
}

.password {
    display: inline-block;
    height: 1.5em;
    width: 100%;
    font-size: 1.5em;

    overflow-wrap: break-word
}

/* Override Bootstrap button outline for mobile */
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}