body {
    background-color: #eeeeee;
}

.container {
    max-width: 600px;
}

.password-container {
    height: 2em;
}

.password {
    overflow-wrap: break-word
}

.password-active {
    color: #bd4147;
    font-size: 1.5em;
}

.password-idle {
    color: #f8a9ad;
    font-size: 1em;
}

/* Override Bootstrap button outline for mobile */
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

/* Make text overflow in Bootstrap button */
.btn{
    white-space:normal !important;
    word-wrap: break-word;
}